In [10]:
from fancyimpute import KNN, SimpleFill
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn import model_selection, preprocessing
import xgboost as xgb
color = sns.color_palette()

import sklearn.metrics as sklm

from hyperopt import hp
from hyperopt import fmin, tpe, hp, STATUS_OK, Trials

%matplotlib inline

pd.options.mode.chained_assignment = None  # default='warn'
pd.set_option('display.max_columns', 500)


#import data
os.chdir("/Users/hubertjenq/kaggle/sberbank russian housing")
train_df = pd.read_csv("train.csv",parse_dates=['timestamp'])
test_df = pd.read_csv("test.csv",parse_dates=['timestamp'])

#use only macroeconomic columns from the macro data
macroecon_cols = ["balance_trade", "balance_trade_growth", "eurrub", "average_provision_of_build_contract",
"micex_rgbi_tr", "micex_cbi_tr", "deposits_rate", "mortgage_value", "mortgage_rate",
"income_per_cap", "rent_price_4+room_bus", "museum_visitis_per_100_cap", "apartment_build"]
macro_df = pd.read_csv("macro.csv", parse_dates=['timestamp'], usecols=['timestamp'] + macroecon_cols)

# Data Quality Changes

#fix wrong state to the most occured state
train_df.loc[train_df['state'] == 33, 'state'] = train_df['state'].mode().iloc[0]

#fix build year errors
train_df[train_df['build_year']==0]['build_year']=np.nan
train_df[train_df['build_year']==1]['build_year']=np.nan
train_df[train_df['build_year']==3]['build_year']=np.nan
train_df[train_df['build_year']==4965]['build_year']=np.nan
train_df[train_df['build_year']==71]['build_year']=np.nan

train_df['build_year']=train_df['build_year'].replace(215,2015)
train_df['build_year']=train_df['build_year'].replace(20052009,2005)
train_df['build_year']=train_df['build_year'].replace(20,2000)

# Merge test/train to make change/make new features

#Make a data frame with all the data in it

#count test/train data
num_train=train_df.shape[0]
num_test=train_df.shape[0]

#save id and price of the train/test 
train_id=train_df['id']
train_logprice=np.log1p(train_df['price_doc'].values)
test_id=test_df['id']

#drop id/price
train_df.drop(['id','price_doc'],axis=1,inplace=True)
test_df.drop(['id'],axis=1,inplace=True)

#Combine test/train and the macro data by timestamp
all_df = pd.concat([train_df,test_df])
all_df = pd.merge_ordered(all_df,macro_df,on='timestamp',how='left')
all_df.head()


# Make new features/remove some

#Convert timestamp to year, month, day of week, and date 
all_df['yearsale']=pd.DatetimeIndex(all_df['timestamp']).year
all_df['monthsale']=pd.DatetimeIndex(all_df['timestamp']).month
all_df['dayofweeksale']=pd.DatetimeIndex(all_df['timestamp']).weekday
all_df['dateofsale']=pd.DatetimeIndex(all_df['timestamp']).day


#add houseage
all_df['houseage']=2020-all_df['build_year']

#add number of floors from top
all_df['floorsfromtop']=all_df['max_floor']-all_df['floor'].astype(float)
#relative floors
all_df['relativefloor']=all_df['floor']/all_df['max_floor'].astype(float)
#add average room size
all_df['avgroomsize']=all_df['full_sq']/all_df['num_room'].astype(float)
#add kitchen size percentage of house
all_df['kitchenpercentage']=all_df['kitch_sq']/all_df['full_sq'].astype(float)

#drop timestamp
all_df.drop(['timestamp'],inplace=True,axis=1)

all_df.head()

all_obj_df=all_df.select_dtypes(include=['object']).copy()
all_num_df=all_df.select_dtypes(exclude=['object'])

/Users/hubertjenq/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [28]:
all_num_df_subset=all_num_df

In [12]:
all_num_df_subset.shape

(100, 296)

In [29]:
all_num_df_subset_knn=KNN(k=3).complete(all_num_df_subset)

Imputing row 1/38133 with 14 missing, elapsed time: 2285.887
Imputing row 101/38133 with 11 missing, elapsed time: 2286.635
Imputing row 201/38133 with 12 missing, elapsed time: 2287.250
Imputing row 301/38133 with 12 missing, elapsed time: 2287.706
Imputing row 401/38133 with 12 missing, elapsed time: 2288.176
Imputing row 501/38133 with 12 missing, elapsed time: 2288.686
Imputing row 601/38133 with 12 missing, elapsed time: 2289.201
Imputing row 701/38133 with 11 missing, elapsed time: 2289.660
Imputing row 801/38133 with 12 missing, elapsed time: 2290.103
Imputing row 901/38133 with 14 missing, elapsed time: 2290.588
Imputing row 1001/38133 with 14 missing, elapsed time: 2291.073
Imputing row 1101/38133 with 11 missing, elapsed time: 2291.506
Imputing row 1201/38133 with 11 missing, elapsed time: 2291.963
Imputing row 1301/38133 with 15 missing, elapsed time: 2292.381
Imputing row 1401/38133 with 14 missing, elapsed time: 2292.815
Imputing row 1501/38133 with 11 missing, elapsed time: 2293.243
Imputing row 1601/38133 with 12 missing, elapsed time: 2293.709
Imputing row 1701/38133 with 11 missing, elapsed time: 2294.157
Imputing row 1801/38133 with 11 missing, elapsed time: 2294.580
Imputing row 1901/38133 with 20 missing, elapsed time: 2295.054
Imputing row 2001/38133 with 12 missing, elapsed time: 2295.470
Imputing row 2101/38133 with 11 missing, elapsed time: 2295.925
Imputing row 2201/38133 with 12 missing, elapsed time: 2296.420
Imputing row 2301/38133 with 14 missing, elapsed time: 2296.959
Imputing row 2401/38133 with 11 missing, elapsed time: 2297.473
Imputing row 2501/38133 with 11 missing, elapsed time: 2298.022
Imputing row 2601/38133 with 12 missing, elapsed time: 2298.633
Imputing row 2701/38133 with 11 missing, elapsed time: 2299.259
Imputing row 2801/38133 with 15 missing, elapsed time: 2299.787
Imputing row 2901/38133 with 14 missing, elapsed time: 2300.270
Imputing row 3001/38133 with 14 missing, elapsed time: 2300.660
Imputing row 3101/38133 with 12 missing, elapsed time: 2301.068
Imputing row 3201/38133 with 18 missing, elapsed time: 2301.460
Imputing row 3301/38133 with 17 missing, elapsed time: 2301.898
Imputing row 3401/38133 with 17 missing, elapsed time: 2302.386
Imputing row 3501/38133 with 15 missing, elapsed time: 2302.878
Imputing row 3601/38133 with 12 missing, elapsed time: 2303.356
Imputing row 3701/38133 with 43 missing, elapsed time: 2303.838
Imputing row 3801/38133 with 17 missing, elapsed time: 2304.655
Imputing row 3901/38133 with 15 missing, elapsed time: 2305.159
Imputing row 4001/38133 with 36 missing, elapsed time: 2305.683
Imputing row 4101/38133 with 40 missing, elapsed time: 2306.299
Imputing row 4201/38133 with 31 missing, elapsed time: 2306.861
Imputing row 4301/38133 with 11 missing, elapsed time: 2307.450
Imputing row 4401/38133 with 12 missing, elapsed time: 2307.984
Imputing row 4501/38133 with 11 missing, elapsed time: 2308.527
Imputing row 4601/38133 with 21 missing, elapsed time: 2309.075
Imputing row 4701/38133 with 11 missing, elapsed time: 2309.618
Imputing row 4801/38133 with 11 missing, elapsed time: 2310.141
Imputing row 4901/38133 with 36 missing, elapsed time: 2310.729
Imputing row 5001/38133 with 18 missing, elapsed time: 2311.291
Imputing row 5101/38133 with 15 missing, elapsed time: 2311.822
Imputing row 5201/38133 with 12 missing, elapsed time: 2312.620
Imputing row 5301/38133 with 36 missing, elapsed time: 2313.401
Imputing row 5401/38133 with 11 missing, elapsed time: 2314.143
Imputing row 5501/38133 with 36 missing, elapsed time: 2314.805
Imputing row 5601/38133 with 12 missing, elapsed time: 2315.432
Imputing row 5701/38133 with 11 missing, elapsed time: 2315.907
Imputing row 5801/38133 with 15 missing, elapsed time: 2316.407
Imputing row 5901/38133 with 14 missing, elapsed time: 2316.894
Imputing row 6001/38133 with 12 missing, elapsed time: 2317.377
Imputing row 6101/38133 with 11 missing, elapsed time: 2317.842
Imputing row 6201/38133 with 40 missing, elapsed time: 2318.379
Imputing row 6301/38133 with 17 missing, elapsed time: 2318.880
Imputing row 6401/38133 with 12 missing, elapsed time: 2319.437
Imputing row 6501/38133 with 12 missing, elapsed time: 2319.922
Imputing row 6601/38133 with 18 missing, elapsed time: 2320.563
Imputing row 6701/38133 with 14 missing, elapsed time: 2321.064
Imputing row 6801/38133 with 24 missing, elapsed time: 2321.539
Imputing row 6901/38133 with 11 missing, elapsed time: 2322.030
Imputing row 7001/38133 with 40 missing, elapsed time: 2322.625
Imputing row 7101/38133 with 40 missing, elapsed time: 2323.235
Imputing row 7201/38133 with 11 missing, elapsed time: 2323.758
Imputing row 7301/38133 with 46 missing, elapsed time: 2324.392
Imputing row 7401/38133 with 20 missing, elapsed time: 2324.891
Imputing row 7501/38133 with 12 missing, elapsed time: 2325.374
Imputing row 7601/38133 with 11 missing, elapsed time: 2325.855
Imputing row 7701/38133 with 21 missing, elapsed time: 2326.349
Imputing row 7801/38133 with 11 missing, elapsed time: 2326.840
Imputing row 7901/38133 with 17 missing, elapsed time: 2327.347
Imputing row 8001/38133 with 34 missing, elapsed time: 2327.846
Imputing row 8101/38133 with 18 missing, elapsed time: 2328.357
Imputing row 8201/38133 with 11 missing, elapsed time: 2328.934
Imputing row 8301/38133 with 13 missing, elapsed time: 2329.556
Imputing row 8401/38133 with 18 missing, elapsed time: 2330.106
Imputing row 8501/38133 with 12 missing, elapsed time: 2330.615
Imputing row 8601/38133 with 11 missing, elapsed time: 2331.155
Imputing row 8701/38133 with 0 missing, elapsed time: 2331.747
Imputing row 8801/38133 with 11 missing, elapsed time: 2332.130
Imputing row 8901/38133 with 18 missing, elapsed time: 2332.548
Imputing row 9001/38133 with 1 missing, elapsed time: 2332.938
Imputing row 9101/38133 with 21 missing, elapsed time: 2333.359
Imputing row 9201/38133 with 36 missing, elapsed time: 2333.745
Imputing row 9301/38133 with 45 missing, elapsed time: 2334.151
Imputing row 9401/38133 with 40 missing, elapsed time: 2334.544
Imputing row 9501/38133 with 1 missing, elapsed time: 2334.932
Imputing row 9601/38133 with 11 missing, elapsed time: 2335.688
Imputing row 9701/38133 with 26 missing, elapsed time: 2336.467
Imputing row 9801/38133 with 14 missing, elapsed time: 2336.886
Imputing row 9901/38133 with 36 missing, elapsed time: 2337.334
Imputing row 10001/38133 with 24 missing, elapsed time: 2337.814
Imputing row 10101/38133 with 0 missing, elapsed time: 2338.280
Imputing row 10201/38133 with 0 missing, elapsed time: 2338.636
Imputing row 10301/38133 with 1 missing, elapsed time: 2338.934
Imputing row 10401/38133 with 0 missing, elapsed time: 2339.154
Imputing row 10501/38133 with 3 missing, elapsed time: 2339.323
Imputing row 10601/38133 with 15 missing, elapsed time: 2339.556
Imputing row 10701/38133 with 0 missing, elapsed time: 2339.808
Imputing row 10801/38133 with 2 missing, elapsed time: 2340.021
Imputing row 10901/38133 with 1 missing, elapsed time: 2340.233
Imputing row 11001/38133 with 26 missing, elapsed time: 2340.410
Imputing row 11101/38133 with 38 missing, elapsed time: 2340.606
Imputing row 11201/38133 with 1 missing, elapsed time: 2340.765
Imputing row 11301/38133 with 0 missing, elapsed time: 2340.937
Imputing row 11401/38133 with 3 missing, elapsed time: 2341.126
Imputing row 11501/38133 with 1 missing, elapsed time: 2341.292
Imputing row 11601/38133 with 3 missing, elapsed time: 2341.480
Imputing row 11701/38133 with 1 missing, elapsed time: 2341.665
Imputing row 11801/38133 with 1 missing, elapsed time: 2341.862
Imputing row 11901/38133 with 1 missing, elapsed time: 2342.031
Imputing row 12001/38133 with 1 missing, elapsed time: 2342.278
Imputing row 12101/38133 with 9 missing, elapsed time: 2342.482
Imputing row 12201/38133 with 0 missing, elapsed time: 2342.686
Imputing row 12301/38133 with 1 missing, elapsed time: 2342.916
Imputing row 12401/38133 with 3 missing, elapsed time: 2343.131
Imputing row 12501/38133 with 0 missing, elapsed time: 2343.304
Imputing row 12601/38133 with 29 missing, elapsed time: 2343.487
Imputing row 12701/38133 with 10 missing, elapsed time: 2343.665
Imputing row 12801/38133 with 4 missing, elapsed time: 2343.871
Imputing row 12901/38133 with 0 missing, elapsed time: 2344.041

Imputing row 13001/38133 with 1 missing, elapsed time: 2344.264
Imputing row 13101/38133 with 0 missing, elapsed time: 2344.517
Imputing row 13201/38133 with 0 missing, elapsed time: 2344.729
Imputing row 13301/38133 with 3 missing, elapsed time: 2344.912
Imputing row 13401/38133 with 10 missing, elapsed time: 2345.129
Imputing row 13501/38133 with 2 missing, elapsed time: 2345.349
Imputing row 13601/38133 with 8 missing, elapsed time: 2345.549
Imputing row 13701/38133 with 4 missing, elapsed time: 2345.839
Imputing row 13801/38133 with 1 missing, elapsed time: 2346.266
Imputing row 13901/38133 with 8 missing, elapsed time: 2346.579
Imputing row 14001/38133 with 2 missing, elapsed time: 2346.914
Imputing row 14101/38133 with 10 missing, elapsed time: 2347.231
Imputing row 14201/38133 with 3 missing, elapsed time: 2347.551
Imputing row 14301/38133 with 13 missing, elapsed time: 2347.849
Imputing row 14401/38133 with 1 missing, elapsed time: 2348.153
Imputing row 14501/38133 with 2 missing, elapsed time: 2348.458
Imputing row 14601/38133 with 4 missing, elapsed time: 2348.792
Imputing row 14701/38133 with 1 missing, elapsed time: 2349.083
Imputing row 14801/38133 with 3 missing, elapsed time: 2349.295
Imputing row 14901/38133 with 1 missing, elapsed time: 2349.537
Imputing row 15001/38133 with 4 missing, elapsed time: 2349.762
Imputing row 15101/38133 with 13 missing, elapsed time: 2349.972
Imputing row 15201/38133 with 1 missing, elapsed time: 2350.178
Imputing row 15301/38133 with 2 missing, elapsed time: 2350.405
Imputing row 15401/38133 with 2 missing, elapsed time: 2350.621
Imputing row 15501/38133 with 5 missing, elapsed time: 2350.834
Imputing row 15601/38133 with 2 missing, elapsed time: 2351.083
Imputing row 15701/38133 with 3 missing, elapsed time: 2351.309
Imputing row 15801/38133 with 11 missing, elapsed time: 2351.535
Imputing row 15901/38133 with 1 missing, elapsed time: 2351.793
Imputing row 16001/38133 with 1 missing, elapsed time: 2352.126
Imputing row 16101/38133 with 5 missing, elapsed time: 2352.406
Imputing row 16201/38133 with 29 missing, elapsed time: 2352.653
Imputing row 16301/38133 with 1 missing, elapsed time: 2352.946
Imputing row 16401/38133 with 1 missing, elapsed time: 2353.205
Imputing row 16501/38133 with 5 missing, elapsed time: 2353.440
Imputing row 16601/38133 with 1 missing, elapsed time: 2353.704
Imputing row 16701/38133 with 2 missing, elapsed time: 2353.982
Imputing row 16801/38133 with 1 missing, elapsed time: 2354.269
Imputing row 16901/38133 with 1 missing, elapsed time: 2354.501
Imputing row 17001/38133 with 2 missing, elapsed time: 2354.745
Imputing row 17101/38133 with 10 missing, elapsed time: 2355.005
Imputing row 17201/38133 with 8 missing, elapsed time: 2355.251
Imputing row 17301/38133 with 27 missing, elapsed time: 2355.494
Imputing row 17401/38133 with 3 missing, elapsed time: 2355.759
Imputing row 17501/38133 with 4 missing, elapsed time: 2356.055
Imputing row 17601/38133 with 10 missing, elapsed time: 2356.351
Imputing row 17701/38133 with 1 missing, elapsed time: 2356.647
Imputing row 17801/38133 with 5 missing, elapsed time: 2356.977
Imputing row 17901/38133 with 1 missing, elapsed time: 2357.317
Imputing row 18001/38133 with 13 missing, elapsed time: 2357.619
Imputing row 18101/38133 with 1 missing, elapsed time: 2358.002
Imputing row 18201/38133 with 3 missing, elapsed time: 2358.401
Imputing row 18301/38133 with 4 missing, elapsed time: 2358.776
Imputing row 18401/38133 with 4 missing, elapsed time: 2359.092
Imputing row 18501/38133 with 1 missing, elapsed time: 2359.334
Imputing row 18601/38133 with 1 missing, elapsed time: 2359.594
Imputing row 18701/38133 with 2 missing, elapsed time: 2359.837
Imputing row 18801/38133 with 7 missing, elapsed time: 2360.121
Imputing row 18901/38133 with 1 missing, elapsed time: 2360.337
Imputing row 19001/38133 with 41 missing, elapsed time: 2360.597
Imputing row 19101/38133 with 2 missing, elapsed time: 2360.789
Imputing row 19201/38133 with 11 missing, elapsed time: 2361.016
Imputing row 19301/38133 with 6 missing, elapsed time: 2361.273
Imputing row 19401/38133 with 2 missing, elapsed time: 2361.544
Imputing row 19501/38133 with 1 missing, elapsed time: 2361.812
Imputing row 19601/38133 with 1 missing, elapsed time: 2362.161
Imputing row 19701/38133 with 4 missing, elapsed time: 2362.477
Imputing row 19801/38133 with 5 missing, elapsed time: 2362.808
Imputing row 19901/38133 with 5 missing, elapsed time: 2363.056
Imputing row 20001/38133 with 2 missing, elapsed time: 2363.338
Imputing row 20101/38133 with 2 missing, elapsed time: 2363.633
Imputing row 20201/38133 with 2 missing, elapsed time: 2363.898
Imputing row 20301/38133 with 5 missing, elapsed time: 2364.301
Imputing row 20401/38133 with 4 missing, elapsed time: 2364.647
Imputing row 20501/38133 with 1 missing, elapsed time: 2364.959
Imputing row 20601/38133 with 1 missing, elapsed time: 2365.283
Imputing row 20701/38133 with 5 missing, elapsed time: 2365.611
Imputing row 20801/38133 with 10 missing, elapsed time: 2365.925
Imputing row 20901/38133 with 2 missing, elapsed time: 2366.286
Imputing row 21001/38133 with 1 missing, elapsed time: 2366.624
Imputing row 21101/38133 with 10 missing, elapsed time: 2366.938
Imputing row 21201/38133 with 2 missing, elapsed time: 2367.224
Imputing row 21301/38133 with 2 missing, elapsed time: 2367.447
Imputing row 21401/38133 with 5 missing, elapsed time: 2367.684
Imputing row 21501/38133 with 8 missing, elapsed time: 2367.926
Imputing row 21601/38133 with 1 missing, elapsed time: 2368.224
Imputing row 21701/38133 with 5 missing, elapsed time: 2368.486
Imputing row 21801/38133 with 10 missing, elapsed time: 2368.694
Imputing row 21901/38133 with 1 missing, elapsed time: 2368.943
Imputing row 22001/38133 with 2 missing, elapsed time: 2369.196
Imputing row 22101/38133 with 1 missing, elapsed time: 2369.465
Imputing row 22201/38133 with 5 missing, elapsed time: 2369.708
Imputing row 22301/38133 with 11 missing, elapsed time: 2370.002
Imputing row 22401/38133 with 1 missing, elapsed time: 2370.284
Imputing row 22501/38133 with 21 missing, elapsed time: 2370.558
Imputing row 22601/38133 with 2 missing, elapsed time: 2370.917
Imputing row 22701/38133 with 1 missing, elapsed time: 2371.234
Imputing row 22801/38133 with 4 missing, elapsed time: 2371.498
Imputing row 22901/38133 with 7 missing, elapsed time: 2371.770
Imputing row 23001/38133 with 2 missing, elapsed time: 2372.071
Imputing row 23101/38133 with 6 missing, elapsed time: 2372.465
Imputing row 23201/38133 with 4 missing, elapsed time: 2372.713
Imputing row 23301/38133 with 4 missing, elapsed time: 2372.998
Imputing row 23401/38133 with 2 missing, elapsed time: 2373.294
Imputing row 23501/38133 with 4 missing, elapsed time: 2373.566
Imputing row 23601/38133 with 5 missing, elapsed time: 2373.809
Imputing row 23701/38133 with 39 missing, elapsed time: 2374.067
Imputing row 23801/38133 with 4 missing, elapsed time: 2374.367
Imputing row 23901/38133 with 1 missing, elapsed time: 2374.695
Imputing row 24001/38133 with 1 missing, elapsed time: 2375.034
Imputing row 24101/38133 with 2 missing, elapsed time: 2375.355
Imputing row 24201/38133 with 39 missing, elapsed time: 2375.675
Imputing row 24301/38133 with 11 missing, elapsed time: 2376.017
Imputing row 24401/38133 with 27 missing, elapsed time: 2376.331
Imputing row 24501/38133 with 1 missing, elapsed time: 2376.617
Imputing row 24601/38133 with 21 missing, elapsed time: 2376.899
Imputing row 24701/38133 with 2 missing, elapsed time: 2377.173
Imputing row 24801/38133 with 1 missing, elapsed time: 2377.411
Imputing row 24901/38133 with 1 missing, elapsed time: 2377.648
Imputing row 25001/38133 with 2 missing, elapsed time: 2377.937
Imputing row 25101/38133 with 1 missing, elapsed time: 2378.179
Imputing row 25201/38133 with 1 missing, elapsed time: 2378.415
Imputing row 25301/38133 with 2 missing, elapsed time: 2378.668
Imputing row 25401/38133 with 1 missing, elapsed time: 2378.908
Imputing row 25501/38133 with 35 missing, elapsed time: 2379.169
Imputing row 25601/38133 with 11 missing, elapsed time: 2379.503
Imputing row 25701/38133 with 4 missing, elapsed time: 2379.753

Imputing row 25801/38133 with 1 missing, elapsed time: 2380.045
Imputing row 25901/38133 with 5 missing, elapsed time: 2380.387
Imputing row 26001/38133 with 7 missing, elapsed time: 2380.722
Imputing row 26101/38133 with 20 missing, elapsed time: 2381.052
Imputing row 26201/38133 with 23 missing, elapsed time: 2381.308
Imputing row 26301/38133 with 1 missing, elapsed time: 2381.569
Imputing row 26401/38133 with 1 missing, elapsed time: 2381.858
Imputing row 26501/38133 with 1 missing, elapsed time: 2382.145
Imputing row 26601/38133 with 16 missing, elapsed time: 2382.398
Imputing row 26701/38133 with 2 missing, elapsed time: 2382.661
Imputing row 26801/38133 with 2 missing, elapsed time: 2382.897
Imputing row 26901/38133 with 1 missing, elapsed time: 2383.153
Imputing row 27001/38133 with 1 missing, elapsed time: 2383.512
Imputing row 27101/38133 with 1 missing, elapsed time: 2383.747
Imputing row 27201/38133 with 29 missing, elapsed time: 2384.045
Imputing row 27301/38133 with 8 missing, elapsed time: 2384.479
Imputing row 27401/38133 with 21 missing, elapsed time: 2384.735
Imputing row 27501/38133 with 25 missing, elapsed time: 2385.058
Imputing row 27601/38133 with 24 missing, elapsed time: 2385.335
Imputing row 27701/38133 with 2 missing, elapsed time: 2385.689
Imputing row 27801/38133 with 3 missing, elapsed time: 2385.981
Imputing row 27901/38133 with 8 missing, elapsed time: 2386.292
Imputing row 28001/38133 with 40 missing, elapsed time: 2386.609
Imputing row 28101/38133 with 5 missing, elapsed time: 2386.915
Imputing row 28201/38133 with 2 missing, elapsed time: 2387.167
Imputing row 28301/38133 with 36 missing, elapsed time: 2387.445
Imputing row 28401/38133 with 2 missing, elapsed time: 2387.694
Imputing row 28501/38133 with 27 missing, elapsed time: 2388.024
Imputing row 28601/38133 with 6 missing, elapsed time: 2388.409
Imputing row 28701/38133 with 24 missing, elapsed time: 2388.826
Imputing row 28801/38133 with 7 missing, elapsed time: 2389.214
Imputing row 28901/38133 with 9 missing, elapsed time: 2389.543
Imputing row 29001/38133 with 3 missing, elapsed time: 2389.910
Imputing row 29101/38133 with 5 missing, elapsed time: 2390.355
Imputing row 29201/38133 with 5 missing, elapsed time: 2390.690
Imputing row 29301/38133 with 6 missing, elapsed time: 2390.961
Imputing row 29401/38133 with 6 missing, elapsed time: 2391.258
Imputing row 29501/38133 with 31 missing, elapsed time: 2391.568
Imputing row 29601/38133 with 5 missing, elapsed time: 2391.859
Imputing row 29701/38133 with 6 missing, elapsed time: 2392.170
Imputing row 29801/38133 with 37 missing, elapsed time: 2392.469
Imputing row 29901/38133 with 2 missing, elapsed time: 2392.745
Imputing row 30001/38133 with 6 missing, elapsed time: 2393.046
Imputing row 30101/38133 with 3 missing, elapsed time: 2393.322
Imputing row 30201/38133 with 5 missing, elapsed time: 2393.617
Imputing row 30301/38133 with 2 missing, elapsed time: 2393.940
Imputing row 30401/38133 with 6 missing, elapsed time: 2394.248
Imputing row 30501/38133 with 2 missing, elapsed time: 2394.586
Imputing row 30601/38133 with 5 missing, elapsed time: 2394.880
Imputing row 30701/38133 with 21 missing, elapsed time: 2395.213
Imputing row 30801/38133 with 34 missing, elapsed time: 2395.544
Imputing row 30901/38133 with 2 missing, elapsed time: 2395.856
Imputing row 31001/38133 with 2 missing, elapsed time: 2396.144
Imputing row 31101/38133 with 3 missing, elapsed time: 2396.491
Imputing row 31201/38133 with 6 missing, elapsed time: 2396.952
Imputing row 31301/38133 with 3 missing, elapsed time: 2397.262
Imputing row 31401/38133 with 22 missing, elapsed time: 2397.526
Imputing row 31501/38133 with 3 missing, elapsed time: 2397.793
Imputing row 31601/38133 with 2 missing, elapsed time: 2398.103
Imputing row 31701/38133 with 6 missing, elapsed time: 2398.439
Imputing row 31801/38133 with 3 missing, elapsed time: 2398.772
Imputing row 31901/38133 with 3 missing, elapsed time: 2399.090
Imputing row 32001/38133 with 6 missing, elapsed time: 2399.405
Imputing row 32101/38133 with 30 missing, elapsed time: 2399.743
Imputing row 32201/38133 with 2 missing, elapsed time: 2400.146
Imputing row 32301/38133 with 6 missing, elapsed time: 2401.135
Imputing row 32401/38133 with 6 missing, elapsed time: 2401.595
Imputing row 32501/38133 with 14 missing, elapsed time: 2401.944
Imputing row 32601/38133 with 3 missing, elapsed time: 2402.285
Imputing row 32701/38133 with 3 missing, elapsed time: 2402.614
Imputing row 32801/38133 with 2 missing, elapsed time: 2402.916
Imputing row 32901/38133 with 3 missing, elapsed time: 2403.201
Imputing row 33001/38133 with 3 missing, elapsed time: 2403.474
Imputing row 33101/38133 with 2 missing, elapsed time: 2403.735
Imputing row 33201/38133 with 6 missing, elapsed time: 2403.953
Imputing row 33301/38133 with 2 missing, elapsed time: 2404.211
Imputing row 33401/38133 with 21 missing, elapsed time: 2404.463
Imputing row 33501/38133 with 3 missing, elapsed time: 2404.706
Imputing row 33601/38133 with 2 missing, elapsed time: 2404.984
Imputing row 33701/38133 with 2 missing, elapsed time: 2405.247
Imputing row 33801/38133 with 3 missing, elapsed time: 2405.515
Imputing row 33901/38133 with 7 missing, elapsed time: 2405.788
Imputing row 34001/38133 with 2 missing, elapsed time: 2406.086
Imputing row 34101/38133 with 11 missing, elapsed time: 2406.354
Imputing row 34201/38133 with 6 missing, elapsed time: 2406.638
Imputing row 34301/38133 with 6 missing, elapsed time: 2406.871
Imputing row 34401/38133 with 6 missing, elapsed time: 2407.169
Imputing row 34501/38133 with 13 missing, elapsed time: 2407.454
Imputing row 34601/38133 with 9 missing, elapsed time: 2407.716
Imputing row 34701/38133 with 24 missing, elapsed time: 2408.028
Imputing row 34801/38133 with 8 missing, elapsed time: 2408.292
Imputing row 34901/38133 with 7 missing, elapsed time: 2408.568
Imputing row 35001/38133 with 6 missing, elapsed time: 2408.868
Imputing row 35101/38133 with 3 missing, elapsed time: 2409.141
Imputing row 35201/38133 with 3 missing, elapsed time: 2409.395
Imputing row 35301/38133 with 13 missing, elapsed time: 2409.716
Imputing row 35401/38133 with 6 missing, elapsed time: 2410.006
Imputing row 35501/38133 with 6 missing, elapsed time: 2410.309
Imputing row 35601/38133 with 7 missing, elapsed time: 2410.575
Imputing row 35701/38133 with 3 missing, elapsed time: 2410.824
Imputing row 35801/38133 with 9 missing, elapsed time: 2411.123
Imputing row 35901/38133 with 9 missing, elapsed time: 2411.419
Imputing row 36001/38133 with 4 missing, elapsed time: 2411.694
Imputing row 36101/38133 with 4 missing, elapsed time: 2411.968
Imputing row 36201/38133 with 22 missing, elapsed time: 2412.292
Imputing row 36301/38133 with 6 missing, elapsed time: 2412.588
Imputing row 36401/38133 with 3 missing, elapsed time: 2412.865
Imputing row 36501/38133 with 4 missing, elapsed time: 2413.177
Imputing row 36601/38133 with 24 missing, elapsed time: 2413.476
Imputing row 36701/38133 with 3 missing, elapsed time: 2413.766
Imputing row 36801/38133 with 4 missing, elapsed time: 2414.034
Imputing row 36901/38133 with 3 missing, elapsed time: 2414.332
Imputing row 37001/38133 with 7 missing, elapsed time: 2414.591
Imputing row 37101/38133 with 4 missing, elapsed time: 2414.889
Imputing row 37201/38133 with 6 missing, elapsed time: 2415.204
Imputing row 37301/38133 with 3 missing, elapsed time: 2415.538
Imputing row 37401/38133 with 3 missing, elapsed time: 2415.881
Imputing row 37501/38133 with 4 missing, elapsed time: 2416.250
Imputing row 37601/38133 with 3 missing, elapsed time: 2416.681
Imputing row 37701/38133 with 3 missing, elapsed time: 2417.161
Imputing row 37801/38133 with 6 missing, elapsed time: 2417.541
Imputing row 37901/38133 with 28 missing, elapsed time: 2417.816
Imputing row 38001/38133 with 25 missing, elapsed time: 2418.101
Imputing row 38101/38133 with 3 missing, elapsed time: 2418.371

In [32]:
knnimpute.to_csv('knnxvalues.csv', index=False)

In [31]:
knnimpute=pd.DataFrame(all_num_df_subset_knn)

In [ ]:
#Change catagorical variables to factors

for o in all_obj_df:
    all_obj_df[o] = pd.factorize(all_obj_df[o])[0]

#put categorical and numeric variables back together
all_df_values=pd.concat([all_num_df,all_obj_df],axis=1)

#convert to numeric values
all_x = all_df_values.values

colnames=all_df.columns

#split all data back into test/training

train_x = all_x[:num_train]
test_x = all_x[num_train:]

#choose 7626 training and 30507 test
indices = np.random.permutation(train_x.shape[0])
valind = indices[:7626]
trainind = indices[7626:]

val_x = train_x[valind]
trainmod_x = train_x[trainind]
val_y = train_logprice[valind]
trainmod_y = train_logprice[trainind]